!!! 5
html(lang:"en")
  head
    title StoryBoard
    script(src:"https://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js")
    script(src:"http://cachedcommons.org/cache/underscore/1.1.0/javascripts/underscore-min.js")
    script(src:"http://cachedcommons.org/cache/mustache/0.3.0/javascripts/mustache-min.js")
    script(src:"vendor/ICanHaz.min.js")
    script(src:"vendor/backbone-min.js")
    script(src:"vendor/backbone-localstorage.js")
    script(src:"app.js")
    
    link(href:"style.css", rel:"stylesheet")

    script(type:"text/html", id:"card")
      li.card 
        a.delete(href:"#") &#x2297; 
        div.title 
          h2 {{ title }}
          input(value:"{{ title }}")
        p As a 
          span.user 
            em {{ user }}
            input(value:"{{user}}")
          |, I'd like to 
          span.action
            em {{ action }}
            input(value:"{{ action }}")
          |, so that I can 
          span.reason
            em {{ reason }}
            textarea {{ reason }}
          |.

    script(type:"text/html", id:"overviewTemplate")
      a.add.icon(href:"#") &#x2295; Add Story

  body
    h1 User Stories
    ul#cards
    div#overview
  